<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2  mt-sm-5">
            <ul class="list-styled list-inline social text-center">
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24 kv-icon-youtube"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24 kv-icon-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24 kv-icon-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24 kv-icon-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</div>