<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2  mt-sm-5">
            <ul class="list-styled list-inline social text-center">
                <li class="list-inline-item"><a href=""><i class="kv-icon kv-icon-24">
                    <img src="assets/icons/Vector.svg" alt="YouTube Icon">
                </i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24">
                    <img src="assets/icons/Vector-1.svg" alt="YouTube Icon">
                </i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24">
                    <img src="assets/icons/Vector-2.svg" alt="YouTube Icon">
                </i></a></li>
                <li class="list-inline-item"><a href="#"><i class="kv-icon kv-icon-24">
                    <img src="assets/icons/Vector-3.svg" alt="YouTube Icon">
                </i></a></li>
            </ul>
        </div>
    </div>
</div>