

.input-heading {
    /* Heading 01 */
    font-family: "Century Gothic";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-heading-2 {
    /* Heading 02 */
    font-family: "Century Gothic";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-label {
    font-weight: 500;
    line-height: 175.7%;
    /* 28.112px */
    letter-spacing: 1.6px;
}

.form-control {
    border-radius: 0;
    height: 56px;
}
