<div class="container pb-5">
    <div class="row mt-5 animate__animated animate__fadeInUp">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="text-center text-uppercase section-title">Hire Us</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="heading-01">
                Have a project for us?
            </div>
            <div clas="input-form">
                <form>
                    <div class="form-group mt-3">
                        <label for="name" class="input-label mb-2">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group mt-3">
                        <label for="email" class="input-label mb-2">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group mt-3">
                        <label for="password" class="input-label mb-2">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group mt-3">
                        <label for="requirements" class="input-label mb-2">Requirements</label>
                        <textarea class="form-control  " id="requirements" placeholder="Requirements"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark mt-5">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="heading-01">
                FAQ
            </div>
            <div class="faq">
                <form class="form-inline">
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 col-lg-12 animate__animated animate__fadeInUp">
            <p class="text-center text-uppercase section-title">Join Our Team</p>
        </div>
    </div>
    <div class="row mt-5 animate__animated animate__fadeInUp">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="heading-01">Interested in Joining Us?</p>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="description">We're always on the lookout for exceptional talent to join our dynamic team. If
                you're passionate about
                architecture and design, and you're excited to be part of a creative, forward-thinking firm, we want to
                hear from you.</p>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="heading-01">Current Job Openings:</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="heading-02">Architectural Designer</p>
            <p class="description">Are you a creative thinker with a passion for transforming concepts into captivating
                architectural
                designs? We're seeking an Architectural Designer to join our team of visionaries.</p>
            <p class="heading-02 mt-2">Key Responsibilities:</p>
            <ul class="description">
                <li>Collaborate with project teams to develop innovative design solutions.</li>
                <li>Create detailed architectural plans, drawings, and 3D models.</li>
                <li>Conduct site visits and assessments.</li>
                <li>Ensure designs comply with local building codes and regulations.</li>
                <li>Present design proposals to clients and stakeholders.</li>
                <li>Stay updated on industry trends and best practices.</li>
            </ul>
            <p class="heading-02 mt-2">Qualifications:</p>
            <ul class="description">
                <li>Bachelor's or Master's degree in Architecture.</li>
                <li>Proven experience in architectural design.</li>
                <li>Proficiency in architectural software (AutoCAD, SketchUp, Revit, etc.).</li>
                <li>Strong communication and presentation skills.</li>
                <li>Attention to detail and a keen eye for aesthetics.</li>
                <li>Ability to work effectively in a collaborative team environment.</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="assets/contact-us-1.jpg" class="img-fluid" alt="Image 1">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <p class="heading-01">Current Job Openings:</p>
            <p class="description">If you're an Architectural Designer ready to bring your innovative ideas to life and
                contribute to exciting architectural projects, we'd love to hear from you. Join us in shaping the future
                of design and creating spaces that inspire.</p>
            <div clas="input-form">
                <form>
                    <div class="form-group mt-3">
                        <label for="name" class="input-label mb-2">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name"
                            placeholder="Enter name">
                    </div>
                    <div class="form-group mt-3">
                        <label for="email" class="input-label mb-2">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group mt-3">
                        <label for="password" class="input-label mb-2">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group mt-3">
                        <label for="portfolio" class="input-label mb-2">Your portfolio</label>
                        <input type="text" class="form-control" id="portfolio" placeholder="Resume" />
                    </div>
                    <button type="submit" class="btn btn-dark mt-5">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="heading-01">
                FAQ
            </div>
            <div class="faq">
                <form class="form-inline">
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-control custom-select my-2 mr-sm-2">
                        <option selected>Question 1</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p class="text-center text-uppercase section-title">Contact Us</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="heading-01">
                Feel free to reach out to us in the traditional way.
            </div>

            <div class="contact-us info">
                <div class="contact-us-location d-flex align-items-center">
                    <i class="bi bi-geo-alt-fill mx-2" style="color:black; font-size: 32px;"></i>
                    <div class="description" style="font-size: 20px;">#123, 2nd main, xyz area,
                        Bangalore, Karnataka</div>
                </div>
                <div class="contact-us-phone d-flex align-items-center">
                    <i class="bi bi-telephone-plus mx-2" style="color:black; font-size: 32px;"></i>
                    <div class="description" style="font-size: 20px;">+91 01234 56789</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
            <img src="assets/contact-us-2.jpg" class="img-fluid" alt="Image 1">
        </div>
    </div>
</div>