<div class="container mt-5">
    <div class="company animate__animated animate__fadeInUp">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <p class="text-center section-title">Our Company</p>
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <p class="abuout-desc text-left">At Kalavibhinna, we craft spaces that breathe, inspire, and endure. Our
                    journey in
                    architecture is a testament to our unwavering commitment to innovative design and meticulous
                    attention
                    to detail. With a portfolio that spans diverse projects, we've earned a reputation for transforming
                    visions into stunning realities.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="abuout-img">
                    <img src="assets/about-image-1.jpg" class="img-fluid cursor-pointer" alt="Image 1">
                </div>
            </div>
        </div>
    </div>
    <div class="founders animate__animated animate__fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <p class="text-center section-title">Our Founders</p>
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <img src="assets/about-Image-2.jpg" class="img-fluid cursor-pointer" alt="Image 1">
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="abuout-img">
                    <p class="abuout-desc text-left">At Kalavibhinna, we craft spaces that breathe, inspire, and endure.
                        Our
                        journey in
                        architecture is a testament to our unwavering commitment to innovative design and meticulous
                        attention
                        to detail. With a portfolio that spans diverse projects, we've earned a reputation for
                        transforming
                        visions into stunning realities.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="design-style animate__animated animate__fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <p class="text-center section-title">our design style</p>
            </div>
        </div>
        <div class="row mt-4 align-items-center">
            <div class="col-md-6 col-sm-12 col-lg-6">
                <p class="text-left">Our design philosophy is rooted in [Brief Description of Design
                    Philosophy]. We believe in creating spaces that not only reflect our clients' aspirations but also
                    harmonize with their surroundings. Our designs embrace [Key Elements of Design Style], resulting in
                    spaces that resonate with a sense of timelessness and purpose.

                    Whether it's [Key Project 1], [Key Project 2], or [Key Project 3], our portfolio showcases the
                    embodiment of our design ethos. Join us in exploring the artistry of architecture and embark on a
                    journey of discovery and inspiration.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <div class="abuout-img">
                    <img src="assets/about-Image-3.jpg" class="img-fluid cursor-pointer" alt="Image 1">
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial animate__animated animate__fadeInUp">
        <div class="row mt-5">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <p class="text-center section-title">What Our Clients Say</p>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <kv-testimonial [slides]="slides"></kv-testimonial>
            </div>
        </div>
    </div>
</div>