
.testinomials {
    /* Heading 3 */
    font-family: "Muli";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.testinomials-name {
    color: var(--Black, #25313C);
    text-align: center;
    font-family: "Muli";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.testinomials-desc {
    color: var(--Grey, #6D7D8B);
    text-align: center;

    /* Caption */
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 0%;
    /* 0px */
}