<ng-container>
    <div class="row mt-4">
        <div class="col-md-6 col-sm-12 col-lg-6" *ngFor="let project of this.currentPageItems">
            <div class="image-container">
                <img [src]="project.projectDisplayImage" class="img-fluid cursor-pointer" alt="Image 1" (click)="onImageClick(project)">
                <div class="image-overlay cursor-pointer"  (click)="onImageClick(project)">
                </div>
            </div>
            <div class="project-title mt-2 text-center">{{project.projectName}}</div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <i class="kv-icon kv-icon-24 kv-icon-arrow-left cursor-pointer" *ngIf="this.paginator?.hasPrevPage()"
            (click)="onPreviousClick()"></i>
        <i class="kv-icon kv-icon-24 kv-icon-arrow-right cursor-pointer" *ngIf="this.paginator?.hasNextPage()"
            (click)="onNextClick()"></i>
    </div>
</ng-container>